services:
  postgres:
    image: postgres:15
    container_name: traningsetapp-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: traningsetapp
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
